.home {
  padding: 110px 0 144px;
}

.login {
  width: 368px;
  margin: 0 auto;
  padding: 0 1em;
}

.brand {
  text-align: center;
}

.brand img {
  height: 64px;
  margin-left: -24px;
  vertical-align: top;
}

.brand span {
  font-size: 33px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Myriad Pro, Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 64px;
}

.brand_desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 12px;
  margin-bottom: 40px;
}
